.navigation-container
  padding-top: 100px
  //background: #3a8ee6
  background: #d4ab5e
  width: 70px
  height: 100%
  -webkit-app-region: drag


.nav-item
  height: 70px
  margin-bottom: 10px
  cursor: pointer

.nav-item:hover
  background: #42b983